
<div class="container">
    <%- include("../menu")%>
    <h1>add BRAND</h1>
    <form action="/brand" method="post">
        <label for="">Add Brands</label>
        <input type="text" class="form-control" name="name" id=""><br>
        <button class="btn btn-dark">Submit</button>
    </form>
</div>